<!DOCTYPE html>
<html>
<head>
	<title>Meadowlark Travel - Node js & Express js</title>
</head>
<body>
	<header><img src="/img/logo.jpg" alt="Meadowlark Travel logo"></header>
	{{{body}}}
</body>
</html>